@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(https://fonts.gstatic.com/s/yanonekaffeesatz/v15/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIfto9tWZd2GMKHD0VTtI.woff) format('woff');
}

:root {
  --main-color: #EF5258;
  --second-color: #212121;
  --border-radius: 6px;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

h1 {
  margin: 0;
  padding: 0;
}

.App {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.App-header {
  text-align: center;
}

.App-header__title {
  text-transform: lowercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 4.5rem;
  color: var(--main-color);
  margin-bottom: 3rem;
}

.App-form {
  display: grid;
  grid-template-columns: 80% 17%;
  grid-gap: 3%;
  grid-template-rows: 4rem;
}

.App-form__input {
  outline: none;
  font-size: 2.5rem;
  border-radius: var(--border-radius);
  padding: 0 1rem;
  border: 1px solid var(--second-color);
  color: var(--second-color);
}

.App-form__input:focus {
  border-color: var(--main-color);
}

.App-form__button {
  cursor: pointer;
  text-transform: lowercase;
  background: var(--main-color);
  color: #FFF;
  border: 0;
  font-size: 2.5rem;
  border-radius: var(--border-radius);
}

.App-form__button:disabled {
  cursor: default;
  opacity: 0.5;
}
